<div id='scoreBoard'>
    <div>Score : </div><div id='score'>0</div>
    <div>Level : </div><div id='level'>1</div>
    <div>Round : </div><div id='round'>1</div>
</div>
<div class="game-board" id="game-board"></div>
<div id="buttons">
    <button onclick="rotation()">Rotation</button>
    <button onclick="newGame()">Restart</button>
    <button onclick="terminate()">Terminate</button>
</div>
