<table class="leaderBoard">
    <tr>
        <th>Name</th>
        <th>Score</th>
    </tr>
    {{#each users}}
    <tr>
        <td>{{name}}</td>
        <td>{{score}}</td>
    </tr>
    {{/each}}        
</table>
 

