#homePage {
    background-color:blanchedalmond;
    height:25px;
    text-align: center;
}
footer {
    text-align: center;
}
#gameScene {
    display:flex;
    flex-direction: column;
}
h1 {
    text-align: center;
}